body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 64px;
    padding: 16px 24px;
    font-size: 32px;
    align-items: center;
    display: flex;
}

.container{
    padding: 32px 24px;
}

.lion{
    height: 64px;
    margin: auto 0;
}

#colaca{
    display: flex;
    align-items: center;
    width: 50%;
}

#colmar{
    font-family: 'Asap', sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: #3D3D3D;
}

#academy{
    font-family: 'Asap', sans-serif;
    font-size: 35px;
    font-weight: normal;
    color: #999999;
    left: -15px;
}

#nav{
    width: 50%;
}

.desktop-nav{
    float: right;
}

.desktop-nav a{
    font-family: 'Droid Sans', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
    padding-left: 16px;
}

.mobile-nav{
    display: none;
}

@media only screen and (max-width: 480px) {
    header{
        max-width: 480px;
    }

    #colaca{
        width: auto;
    }

    .lion{
        margin: 0 15px;
    }

    #colaca h3{
        display: none;
    }

    .desktop-nav{
        display: none;
    }

    .mobile-nav{
        display: flex;    
    }

    .mobile-nav a{
        padding: 0 15%; 
    }

    .mobile-nav img{
        height: 55px;  
    }
}

.banner{
    background-color: darkgray;
    display: flex;
}

.banner img{
    width: 60%;
    padding: 32px 24px;
}

.banner aside{
    margin-left: 24px;
    margin-top: 100px;
}

.banner aside button{
    color: white;
    background-color: darkgray;
    padding: 8px 30%;
}

@media only screen and (max-width: 480px){
    .banner{
        padding: 0;
        flex-direction: column;
    }

    .banner img{
        width: 100%;
    }

    .banner aside{
        margin: 32px 16px;
    }

    .banner aside p{
        margin-top: 32px;
        margin-bottom: 24px;
    }
}

.information{
    display: flex;
    background-color: lightgray;
}

.main h3{
    margin-top: 32px;
    margin-bottom: 24px;
}

.desktop-side{
    flex-direction: column;
    width: 40%;
    border-left: 2px solid darkgrey;
}

.side-info{
    border-bottom: 2px solid darkgrey;
    display: block;
    padding: 32px 22px;
}

.side-info img{
    height: auto;
}

.side-info-data{
    float: right;

}

.side-info a{
    color: lightskyblue;
}

.mobile-side{
    display: none;
}