body{}

header{
    height: 64px;
    padding: 16px 24px;
    font-size: 32px;
    background-color: lightblue;
    align-items: center;
    display: flex;
}

.lion{
    height: 64px;
    margin: auto 0;
}

#colaca{
    display: flex;
    width: 50%;
}

#colaca h3{
 
}

#nav{
    width: 50%;
}

.desktop-nav{
    float: right;

}

.desktop-nav a{
    text-decoration: none;
    color: black;
    padding-left: 16px;
}

.mobile-nav{
    display: none;
}
@media only screen and (min-width: 480px) {
    
}